{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if product.image %}
                    <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}" />
                {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="Görsel Yok" />
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">Category: {{ product.category.name }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>₺{{ product.price }}</span>
                </div>
                <p class="lead">{{ product.description|linebreaks }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="d-flex">
                        {{ cart_product_form.quantity }}
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Sepete Ekle
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}